
<button  (click)="this.checkList()"class="btn">Map</button>
<button  (click)="this.checkModal()"class="btn">modal</button>
<button  (click)="this.AddFeature()"class="btn btn-default">Add feature</button>

<div *ngIf="this.loading==true">
    <app-spinner></app-spinner>
</div>

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
<div class="row">
    <div id="map" class="map"></div>
</div>

<!-- <div class="accordion" id="hideTable">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Table of The Hospitals
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne">
        <div class="accordion-body">
            <table class="table table-striped table-bordered table-curved table-hover  mt-4 " style="margin-left: 150px; width: 70%; "> 
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Telephone</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let hospital of this.list">
                  <tr>
                    <td>{{this.hospital.fid}}</td>
                    <td style="max-width: 300px;">{{this.hospital.name}}</td>
                    <td>{{this.hospital.city}}</td>
                    <td *ngIf="this.hospital.telephone==null">NOT AVAILABLE</td>
                    <td *ngIf="this.hospital.telephone!=null">{{this.hospital.telephone}}</td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div> -->

   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div  class="modal-body">
          <h4 style="text-align: center;">{{this.hospitalDetails.name}}</h4>
          
          <table class="table table-xl table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>State</td>
                <td>{{this.hospitalDetails.state}}</td>

              </tr>
              <tr>
                
                <td>City</td>
                <td></td>

              </tr>
              <tr>
                
                <td>County</td>
                <td></td>

              </tr>
              <tr>
                
                <td>Type</td>
                <td></td>

              </tr>
              <tr>
                
                <td>Population</td>
                <td></td>

              </tr>
              <tr class="table-danger" *ngIf="this.hospitalDetails.helipad=='N'">
                
                <td >Helipad</td>
                <td>{{this.hospitalDetails.helipad}}</td>

              </tr>
              <tr class="table-success" *ngIf="this.hospitalDetails.helipad=='Y'">
                
                <td >Helipad</td>
                <td>Available</td>

              </tr>


            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> 